includeConfig "$baseDir/params.config"

workflow.containerEngine = "docker"

process {
  container = 'nvidia/cuda:10.1-base-ubuntu18.04'
}

profiles {
  
  awsbatch {
    workDir = 's3://frankfurt-nf/work'
    process.executor = 'awsbatch'
    process.queue = 'gspot'
    aws.batch.cliPath = '/home/ubuntu/miniconda/bin/aws'
    aws.region = 'eu-central-1'    
    docker.enabled = true
  }

}

