includeConfig "$baseDir/params.config"

profiles {
  
  awsbatch {
    workDir = 's3://frankfurt-nf/work'
    process.executor = 'awsbatch'
    process.queue = 'gpu'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    aws.region = 'eu-central-1'    
  }

}

process.container = "nvidia/cuda:10.1-base-ubuntu18.04"
process.containerOptions = "--gpus all"
docker.enabled = true

